<template name="Main">

	<header>
		{{> Logo}}
		<form id="addConversation">
			<input type="text" placeholder="passphrase">
			<input type="submit" value="add conversation">
		</form>
	</header>

	{{#if conversations}}
		{{> Conversations
			conversations = conversations
		}}
	{{else}}
		{{> EmptyState
			text = 'No conversation yet'
		}}
	{{/if}}

	{{> About}}

</template>

<template name="EmptyState">

	<div class="emptyState">
		<span>{{text}}</span>
	</div>

</template>

<template name="Conversations">

	<div id="conversations">
		{{#each conversations}}
			{{> Conversation
				passPhrase = this
			}}
		{{/each}}
	</div>

</template>

